/* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
} */
 .container {
    max-width: 1200px;
    /* Twitter postlari odatda shuncha kenglikda bo'ladi */
    margin: 0 auto;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}